body {
  background-color: white;
}

h1 {
  color: #73a753;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #73a753;
  font-family: 'Roboto', sans-serif;
}

h3 {
  color: #73a753;
  font-family: 'Roboto', sans-serif;
}
div {
	margin: 20px 0;
}

p1 {
  color: black;
  font-family: 'Roboto', sans-serif;
}
p3 {
  color: black;
  font-family: 'Roboto', sans-serif;
}
ul {
  color: black;
  font-family: 'Roboto', sans-serif;
}
li {
  color: black;
  font-family: 'Roboto', sans-serif;
}